* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato,
        sans-serif;
}

.overallContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1,
h3 {
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 85, 212);
}

h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.windowsContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 30px auto 0;
    cursor: pointer;
}

.windowContainer:hover {
    transform: scale(1.1, 1.1);
}

.windowContainer {
    height: 450px;
    width: 350px;
    border: 4px solid rgb(0, 85, 212);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img {
    height: 100%;
    width: 100%;
}