{% load static %}
<html lang="en">

    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Systems</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>


<script>
    localStorage.clear();
</script>

<script src="{% static 'scripts/loadJSON.js' %}"></script>

<body>
    <div class="overallContainer">
        <h1>Calendar UI Test</h1>
        <h3>By Max Ebert and Robert Irrgang</h3>
        <div class="windowsContainer">
            <a href="{% url 'first_prototype' %}" onmousedown="resetQuestionID(true);">
                <div class="windowContainer">
                    <img src="{% static 'pictures/Calendar1.png' %}" alt="Calendar1" onclick="">
                </div>
            </a>
            <a href="{% url 'second_prototype' %}">
                <div class="windowContainer">
                    <img src="{% static 'pictures/Calendar2.png' %}" alt="Calendar2">
                </div>
            </a>
        </div>
    </div>
</body>



</html>